@import "variables.scss";
.comment {
  margin: 40px 0px;
  display: flex;

  &:first-child {
    margin-top: 32px;
  }
  &-image-container img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 1px solid $border;
    margin-right: 32px;
    object-fit: cover;
  }
  &-right-part {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-content {
    display: flex;
    align-items: center;
  }
  &-author {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $black;
    margin-right: 8px;
  }
  &-time {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: $grey;
  }
  &-text {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    margin: 16px 0 23px 0;
  }
  &-form {
    margin-top: 48px;
    width: 100%;
    display: flex;
    padding-bottom: 46px;
    border-bottom: 1px solid $border;
  }
  &-form-replies form {
    margin-top: 26px;
    width: 100%;
    display: flex;
  }
  &-form form,
  &-form-replies form {
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  &-form-textarea {
    width: 100%;
    height: 120px;
    border-color: $border;
    font-size: 22px;
  }
  &-form-textarea::placeholder {
    padding: 16px 0 16px 24px;
    font-size: 24px;
    color: $placeholder;
    font-weight: 400;
  }
  &-forAnswer {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $grey;
    margin-right: 16px;
  }
  &-form-button {
    width: 168px;
    height: 56px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $green;
    margin: 16px 0px 0px;
    cursor: pointer;
    border: none;
  }
  &-form-button-disabled {
    background-color: $grey;
  }
  &-action {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $grey;
    cursor: pointer;
    margin-right: 24px;
  }
  &-action-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &-form span,
  &-form-replies span {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $grey;
    margin-bottom: 9px;
    cursor: pointer;
  }

  &-form-cancel-button {
    justify-content: flex-end;
  }
}
.replies {
  margin: 0 -8px;

  &-image-container img {
    width: 110px;
    height: 111px;
    border-radius: 8px;
    border: 1px solid $border;
    margin-right: 32px;
    object-fit: cover;
  }
}
